body {
    background-color: lightcoral;
  }
  
  h1 {
      font-family: sans-serif;
      text-align: center;
  }
  
  h2 {
  font-family: sans-serif;
  }
  
  img { 
    float: left;
    width: 200px;
    margin: 15px;
    border-color: saddlebrown;
    border-width: 6px;
    border-style: solid;
    border-radius: 15px;
  }
  
  p {
      text-align: left;
      font-family: fantasy;
      font-size: 14px;
  }